<script>
    import FilterButton from './FilterButton.svelte';
    import Todo from './Todo.svelte';
    import MoreActions from './MoreActions.svelte';
    import NewTodo from './NewTodo.svelte';
    import TodosStatus from './TodosStatus.svelte';
    import {alert} from '../stores.js';

    let todosStatus;

    export let todos = [];

    let newTodoId;
    $: {
        if (todos.length === 0) {
            newTodoId = 1;
        } else {
            newTodoId = Math.max(...todos.map(t => t.id)) + 1;
        }
    }

    let filter = 'all';
    $: {
        if (filter === 'all') $alert = 'Browsing all todos'
        else if (filter === 'active') $alert = 'Browsing active todos'
        else if (filter === 'completed') $alert = 'Browsing completed todos';
    }

    function filterTodos(filter, todos) {
        if (filter === 'active') {
            return todos.filter(t => !t.completed);
        }
        if (filter === 'completed') {
            return todos.filter(t => t.completed);
        }
        return todos;
    }

    function removeTodo(todo) {
        todos = todos.filter(t => t.id !== todo.id);
        todosStatus.focus();
        $alert = `Todo '${todo.name}' has been deleted`;
    }

    function addTodo(name) {
        todos = [...todos, {id: newTodoId, name: name, completed: false}];
        $alert = `Todo '${name}' has been added`;
    }

    function updateTodo(todo) {
        const i = todos.findIndex(t => t.id === todo.id);
        if (todos[i].name !== todo.name) $alert = `todo '${todos[i].name}' has been renamed to '${todo.name}'`;
        if (todos[i].completed !== todo.completed) $alert = `todo '${todos[i].name}' marked as ${todo.completed ? 'completed' : 'active'}`;
        todos[i] = {...todos[i], ...todo};
    }

    const checkAllTodos = (completed) => {
        todos.forEach(t => t.completed = completed);
        todos = todos;
        $alert = `${completed ? 'Checked' : 'Unchecked'} ${todos.length} todos`;
    }

    const removeCompletedTodos = () => {
        $alert = `Removed ${todos.filter(t => t.completed).length} todos`;
        todos = todos.filter(t => !t.completed);
    }
</script>

<!-- Todos.svelte -->
<div class="todoapp stack-large">

    <!-- NewTodo -->
    <NewTodo autofocus on:addTodo={e => addTodo(e.detail)}/>

    <!-- Filter -->
    <FilterButton bind:filter/>

    <!-- TodosStatus -->
    <TodosStatus bind:this={todosStatus} {todos}/>

    <!-- Todos -->
    <ul role="list" class="todo-list stack-large" aria-labelledby="list-heading">
        {#each filterTodos(filter, todos) as todo (todo.id)}
            <li class="todo">
                <Todo {todo}
                      on:update={e => updateTodo(e.detail)}
                      on:remove={e => removeTodo(e.detail)}
                />
            </li>
        {:else}
            <li>Nothing to do here!</li>
        {/each}
    </ul>

    <hr/>

    <!-- MoreActions -->
    <MoreActions {todos}
                 on:checkAll={e => checkAllTodos(e.detail)}
                 on:removeCompleted={removeCompletedTodos}
    />

</div>